body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* TODO: move in Biscuit Page. This for dev things */
.biscuit_machine_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    flex-direction: column;

}



.test{
    position: relative;
    top: 29px;
    left: 46px;
    margin-left:50px;
    animation: rawbiscuit 10s linear infinite;
  }
  
  @keyframes rawbiscuit {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(640px, 0);
    }
  }
  